.form-modal {
    max-width: 700px;
    margin: 100px auto 200px;
}

.form-modal__create-restaurant {
    width: 1200px;
    margin: 100px auto 200px;

}

.restaurant__description {
    margin-left: 50px;
}

.create-restaurant__form {
    width: 700px;
}

.flash-message {
    position: fixed;
    padding: 0 10px;
    height: 30px;
    border-bottom: 3px solid #00d1b2;
    border-left: 3px solid #00d1b2;
    border-right: 3px solid #00d1b2;
    border-radius: 0 0 10px 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.add-menu-item__btn {
    left: 50%;
    transform: translateX(-50%);
}