.form-modal {
    max-width: 700px;
    margin: 100px auto 200px;
}

.login-modal {
    height: 31rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30rem;
    background: hwb(171deg 53% 5% / 40%);;
    align-items: center;
    border-radius: 4rem;
    margin: 100px auto 200px;
}

.login-modal h3 {
    font-weight: 800;
    font-size: 2.5rem;
}

#loginForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20rem;
}

.form-modal__create-restaurant {
    width: 1200px;
    margin: 100px auto 200px;

}

.restaurant__description {
    margin-left: 50px;
}

.create-restaurant__form {
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
}

.flash-message {
    position: fixed;
    padding: 0 10px;
    height: 30px;
    border-bottom: 3px solid #00d1b2;
    border-left: 3px solid #00d1b2;
    border-right: 3px solid #00d1b2;
    border-radius: 0 0 10px 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.add-menu-item__btn {
    margin-bottom: 2px;
}

.add-menu-item__error {
    margin-bottom: 10px;
}

.menu-item-form__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-items__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item-search {
    margin-top: 40px;
    margin-right: 35%;
    margin-left: 35%;
}

.manage-restaurant-header {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
}

.menu-items-helpers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-top: 2rem;
}

.menu-item-form-title {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.menu-items-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1px;
}

.menu-item {
    flex: 0 0 25%;
    position: relative;
    background: #fff;
    max-width: 325px;
    width: 325px;
    height: auto;
    margin: 25px;
    box-shadow: 0 5px 25px rgb(1 1 1);
    border-radius: 2.25rem;
    overflow: hidden;
    transition: all .5s;
}

.menu-item:hover {
    box-shadow: 0 5px 25px rgb(1 1 1);
    transform: scale(1.05);
    white-space: unset;

}

.menu-item-photo {
    max-height: 200px;
    overflow: hidden;
}

.menu-item-photo img {
    max-width: 100%;
    max-height: 50%;
}

.menu-item-info {
    flex: 1 1 0;
    width: 0;
    position: relative;
    color: #222;
    padding: 10px 20px 20px;
}

.menu-item-name {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 5px;
}

.menu-item-ingredients {
    font-size: 1em;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-item-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-item-price {
    font-weight: bold;
    margin-top: 0.7rem;
}

.menu-item-search-label {
    font-size: 1.4em;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0.8rem;
}

.restaurant-presentation {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    background: #fff;
    height: 21rem;
    margin: 25px;
    box-shadow: 0 5px 25px rgb(1 1 1);
    border-radius: 2.25rem;
    overflow: hidden;
    transition: all .5s;
}

.restaurant-middle-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.restaurant-phone-number {
    display: flex;
    flex-direction: column;
}

.restaurant-address {
    display: flex;
    flex-direction: column;
}

.restaurant-name {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 1.6rem;
    margin-top: 0.3rem;
}

.restaurant-address {
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 5px;
}

.restaurant-phone-number {
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 5px;
}

.restaurant-description {
    font-size: 0.95em;
    font-weight: 700;
    margin: 0 1rem;
}

.add-menu-item-form {
    transition: all .5s;
}

.menu-item-content {
    display: flex;
}

.menu-item-manage {
    flex: 1 1 0;
    width: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.menu-item-buttons {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
}

.restaurants-header {
    background-image: url('../assets/restaurants.jpeg');
    height: 450px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurants-title {
    font-size: 3em;
    font-weight: 900;
    margin-top: 5.3rem;
    color: #00d1b2;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

.restaurants-search-input {
    margin-top: 7rem;
    width: 20rem;
    height: 4rem;
    border-radius: 10rem;
    font-size: 1.5rem;
    color: #00d1b2;
    border: 3px solid;
    font-weight: 400;
    text-align: center;
    transition: width 1s, font-weight 1s, border 1s;
}

.restaurants-search-input:focus {
    width: 30rem;
    border: 5px solid;
    font-weight: 600;
}

.restaurants-manager {
    height: 3rem;
    margin-top: 2rem;
}

.restaurants-list {
    margin-bottom: 5rem;
}

.restaurant-list-display {
    display: flex;
    height: 15rem;
    margin-top: 3.5rem;
    box-shadow: 0 5px 25px rgb(1 1 1);
    border-radius: 2.25rem;
    overflow: hidden;
    transition: all .5s;
}

.restaurant-list-image {
    width: 25%;
    height: 100%;
    object-fit: contain;
}

.restaurant-list-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.restaurant-list-infos {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    align-items: center;
    width: 70%;
}

.restaurant-list-name {
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 5px;
}

.restaurant-list-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 4rem;
    justify-content: space-between;
}

.restaurant-list-infos_first {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    width: 200%;
}

.restaurant-list-program {
    margin-top: 1rem;
}

.restaurant-list-price {
    margin-top: 1rem;
}

.restaurant-list-redirect {
    background: #00d1b2;
    width: 10%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.restaurant-list-redirect div {
    font-size: 2.5em;
    font-weight: 800;
}

.display-restaurant-page {
    margin-left: 10rem;
    margin-top: 2rem;
}

.display-restaurant-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}

.display-restaurant-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 209, 178, 0.4);
    border-radius: 3rem;
    width: 100%;
    position: relative;
}

.restaurant-presentation-infos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2rem;
}

.restaurant-presentation-title {
    font-size: 2.5em;
    font-weight: 800;
    margin-top: 1rem;
    text-decoration: underline;
}

.restaurant-presentation-infos img {
    height: 18rem;
    margin-bottom: 1.5rem;
    border-radius: 2rem;
}

.display-restaurant-order {
    width: 30%;
    position: fixed;
    right: 2rem;
    top: 6rem;
}

.restaurant-presentation-description {
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.restaurant-presentation-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.restaurant-menu-items {
    margin-top: 3rem;
    width: 100%;
}

.restaurant-menu-item-header {
    display: flex;
    justify-content: space-between;
}

.restaurant-menu-items-search-input {
    margin-left: 20rem;
    width: 30rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: #00d1b2;
    border: 4px solid;
    font-weight: 400;
    text-align: center;
    transition: width 1s, font-weight 1s, border 1s;
}

.menu-items-availability-groups {
    margin-top: 2rem;
    margin-right: 2em;
    font-size: 1.5em;
    font-weight: 800;
}

.add-to-cart-button {
    margin-top: 4.5rem;
}

.reservation-component {
    border: 1px solid #00d1b2;
    border-radius: 2rem;
    height: 40rem;
}

.reservation-component-title {
    height: 4rem;
    background-color: #00d1b2;
    color: white;
    overflow: hidden;
    border-radius: 2rem 2rem 0 0;
    text-align: center;
}

.reservation-component-title h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.reservation-component-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    height: 5rem;
    background-color: #00d1b2;
    color: white;
    width: 100%;
    justify-content: space-around;
    border-radius: 0 0 2rem 2rem;
    margin-left: -1px;
}

.reservation-total-price {
    margin-top: 1.25rem;
    font-size: 1.5rem;
}

.reservation-infos {
    background: hwb(171deg 53% 5% / 20%);
    height: 31rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservation-component-not-logged {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservation-component-not-logged h1 {
    margin-top: 13rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.reservation-component-not-logged a {
    margin-top: 1rem;
    width: 70%;
    font-size: 1.2rem;
    font-weight: 800;
}

.footer {
    background-color: #fafafa;
    padding: 3rem 1.5rem 2rem !important;
}

.reservation-component-footer a {
    width: 30%;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.reservation-component-time {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.reservation-component-logged {
    width: 100%;
}

.reservation-start input,
.reservation-end input {
    margin-top: 0.3rem;
    height: 2rem;
    width: 6rem;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.reservation-component-menu-items {
    border-top: 3px solid #227172;
    height: 26.5rem;
    overflow: hidden;
}

.reservation-component-menu-items:hover {
    overflow-y: auto;
}

.cart-menu-item {
    height: 7rem;
    padding-top: 1rem;
    border-bottom: 1px solid black;
    display: flex;
    padding-bottom: 1rem;
}

.cart-menu-item-photo {
    height: auto;
    width: auto;
    max-width: 5rem;
    max-height: 5rem;
    overflow: hidden;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.cart-menu-item-infos {
    display: flex;
    margin-left: 1.5rem;
    width: 20rem;
}

.cart-menu-item-infos div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-menu-item-name {
    font-weight: 600;
    font-size: 1.5rem;
}

.cart-menu-item-price {
    margin-bottom: 0.25rem;
}

.cart-menu-item-qty {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-right: 3rem;
    width: 9rem;
}

.cart-menu-item-qty h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-left: 0.5rem;
    margin-right: 0.25rem;
    color: darkcyan;
}

.cart-menu-item-qty button {
    margin-top: 0.5rem;
}

.cart-menu-item-delete {
    margin-right: 1rem;
    margin-top: 1.75rem;
}

.checkout-form,
.checkout-confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: hwb(171deg 53% 5% / 70%);
}

.checkout-restaurant,
.checkout-confirmation-restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.checkout-restaurant img,
.checkout-confirmation img {
    max-width: 100%;
    height: 15rem;
    border-radius: 3rem;
    border: 2px solid black;
}

.checkout-restaurant h1,
.checkout-confirmation h1 {
    margin-top: 0.5rem;
    font-size: 2rem;
}

.checkout-price,
.checkout-confirmation-price {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.checkout-confirmation-message {
    font-size: 1.2rem;
    font-weight: 900;
}

.dropdown-content {
    width: 7rem;
}

.back-to-restaurants {
    position: absolute;
    left: 2rem;
    top: 1rem;
    font-size: 2rem;
    font-weight: 800;
    border: 1px solid hwb(192deg 0% 42% / 70%);
    border-radius: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
}
